<!--visualizzazione della home page-->
<div *ngIf="view == 'viewHome'">
  <button (click)="cambioView('viewInserimento')">
    Inserisci un nuovo libro
  </button>
  <br /><br />
  <button (click)="cambioView('viewRicerca')">Cerca</button>
</div>
<div *ngIf="view == 'viewInserimento'">
  <app-inserimento (aggiornaView)="cambioView($event)" [archivio]="archivio">
  </app-inserimento>
</div>
<div *ngIf="view == 'viewRicerca'">
  <app-ricerca (aggiornaView)="cambioView($event)" [archivio]="archivio">
  </app-ricerca>
</div>
