<!--visualizzazione della view di inserimento di un nuovo libro-->
<div *ngIf="view == 'viewInserimento'">
  <p><b>Inserisci un nuovo libro:</b></p>
  <form>
    <label for="autore">Autore: </label>
    <input id="nuovoAutore" /><br /><br />
    <label for="titolo">Titolo: </label>
    <input id="nuovoTitolo" /><br /><br />
    <label for="posizione">Posizione: </label>
    <input id="nuovaPosizione" />
    <br /><br />
    <button (click)="nuovoLibro()">Inserisci</button>
  </form>
  <br />
  <button (click)="cambioView('viewHome')">Torna alla home</button>
</div>
