<!--visualizzazione della view di inserimento di un nuovo libro-->
<div *ngIf="view == 'viewInserimento'">
  <b>Inserisci un nuovo libro:</b>
  <br /><br />
  <form>
    <label for="autore">Autore: </label>
    <input id="nuovoAutore" /><br /><br />
    <label for="titolo">Titolo: </label>
    <input id="nuovoTitolo" /><br /><br />
    <label for="posizione">Posizione: </label>
    <input id="nuovaPosizione" />
    <br /><br />
    <button (click)="newBook()">Inserisci</button>
  </form>
  <br />
  <button (click)="newView('viewHome')">Torna alla home</button>
</div>
