<!--visualizzazione della view di ricerca-->
<div *ngIf="view == 'viewRicerca'">
  <b>Ricerca per titolo e autore:</b>
  <br /><br />

  <input (keyup)="cerca()" id="stringa" />
  <p id="numOccorrenze">{{ numero }} corrispondenze</p>
</div>
<div *ngIf="view == 'viewRisultato'">
  <b>Documento trovato:</b>
  <p>
    Posizione: <i id="posizione">{{ libroTrovato[0].posizione }}</i>
  </p>
  <p>
    Titolo: <i id="titolo">{{ libroTrovato[0].titolo }}</i>
  </p>
  <p>
    Autore: <i id="autore">{{ libroTrovato[0].autore }}</i>
  </p>
  <app-prestito
    [libroTrovato]="libroTrovato"
    (updateView)="newView($event)"
    [archivio]="archivio"
  ></app-prestito>
  <app-rimozione
    [archivio]="archivio"
    [libroTrovato]="libroTrovato"
    (updateView)="newView($event)"
  >
  </app-rimozione>
</div>
<div *ngIf="view == 'viewRicerca'"></div>
<button (click)="newView('viewHome')">Torna alla home</button>
