<!--visualizzazione della view di ricerca-->
<div *ngIf="view == 'viewRicerca'">
  <b>Ricerca per titolo e autore:</b>
  <br /><br />

  <input (keyup)="cerca()" id="stringa" />
  <p id="numOccorrenze">{{ numero }} corrispondenze</p>
</div>
<div *ngIf="view == 'viewRisultato'">
  <b>Documento trovato:</b>
  <p>
    Posizione: <i id="posizione">{{ posizioneTrovato }}</i>
  </p>
  <p>
    Titolo: <i id="titolo">{{ titoloTrovato }}</i>
  </p>
  <p>
    Autore: <i id="autore">{{ autoreTrovato }}</i>
  </p>
  <p *ngIf="utenteTrovato; else utenteNonTrovato" style="color: red">
    In prestito
  </p>
  <ng-template #utenteNonTrovato>
    <p style="color: green">Disponibile</p>
  </ng-template>
</div>
<button (click)="newView('viewHome')">Torna alla home</button>
